@model IEnumerable<ProjectCode.Models.assignmentMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="dt">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.adate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aurl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subjectname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.adate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aurl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subjectname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.aid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.aid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.aid })
                </td>
            </tr>
        }
    </tbody>

</table>
